DATABASE_URL="mongodb+srv://<user>:<password>@clusterapp.jfjccrw.mongodb.net/<database_name>?retryWrites=true&w=majority&appName=ClusterApp"
JWT_SECRET=unsecure_jwt_secret
RESEND_API_KEY=re_your_resend_api_key
MAIL_FROM="WalletWise <hello@yourdomain.com>"
APP_WEB_URL=https://app.walletwise.com
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_ID_IOS=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
APPLE_CLIENT_ID=your_service_id
APPLE_CLIENT_ID_IOS=your_bundle_id